body {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;

    background: #efefef;
    font-family: 'Fredoka', sans-serif;
}

button {
    font-family: inherit;
}

input {
    font-family: inherit;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    gap: .5em;
}

.field-container {
    width: min(30%, 350px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: larger;
}

.button {
    width: min(30%, 350px);
}

.button button {
    width: 100%;
    font-size: x-large;
    border-radius: 30px;
    border-color: transparent;
    background: darkmagenta;
    color: white;
}