html {
	font-family: trebuchet ms, sans-serif;
}

body {
	align-content: center;
	align-self:center;
}

#input1 {
	border: 1px solid #9bd4c4;
	border-radius: 6px;
	width: 20%;
	height: 20px;
	font-family: inherit;
}

#exit {
	background: #dcdcdc;
	color: #303030;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #9bd4c4;
	border-radius: 5px;
	box-shadow: 2px 2px 4px #393939;
	font-family: inherit;
}

#clear {
	background: #dcdcdc;
	color: #303030;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #9bd4c4;
	border-radius: 5px;
	box-shadow: 2px 2px 4px #393939;
	font-family: inherit;
}

#main {
    align-content: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
	position: relative;
	top: 50%;
}

body {
	background-color: #e6f4ff
}